<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Página Cuenta Letras</title>
    </head>
    <body>
        <h1>Página Cuenta Letras</h1>
        <p>En la palabra {{palabra}} aparece {{veces}} veces el carácter {{letra}}.</p>
        <a href="/">Pagina principal</a>
    </body>
</html>