<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Página Libros</title>
    </head>
    <body>
        <h1>Biblioteca</h1>
        <p>Libro: {{libro}}</p>
        <p>Autor: {{autor}}</p>
        <a href="/">Pagina principal</a>
    </body>
</html>