<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Página Potencia</title>
    </head>
    <body>
        <h1>Página Potencia</h1>
        <p>{{base}}**{{exponente}}={{resultado}}</p>
        <a href="/">Pagina principal</a>
    </body>
</html>